*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Sobre-container{
    display: flex;
   justify-content: space-between;
   padding: 2% 10% ;
   width: 80%;
    flex-direction: row;
    height:75vh;
    
}
.historia{
    width: 60rem;
    flex-direction: column;
    padding: 0.5rem ;
  margin: 0.5rem;
  font-weight: 400;
 
}

.historia-img{
    width: 30rem;
    box-shadow: 10px 10px 5px var(--cor-principal);
    height: 30rem;
}

@media (max-width: 720px) {
    .Sobre-container{
      flex-direction: column;
      justify-content: center;
        margin: 0;
        padding: 3% 5%;
        height: auto;
    }
    .historia{
        margin: 0;
        padding: 1%;
        width: auto;
        text-align: center;
    }
    .historia-img{
        width: 20rem;
        height: 20rem;
    }
  }

